body {
    margin: 0;
    padding: 0;
  }
.container1{
    height:100%;
    width: 100%;
    position: relative;
    text-align: center;
}
.title{
    font-size: 5em;
    font-weight: bold;
}
.pic1{
    width:100%;
    position: relative;
    text-align: center;
}
.container {
    margin-top: 3%;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
.letterp{
    margin-top: 2%;
    margin-bottom: 2%;
}
.bottom-left {
    position: absolute;
    top: 25%;
    left: 13%;
}
.bg{
    height:300px;
    background-color: aqua;
}
.modh1{
    text-align:left;
}
.img1{  
    height: 200px;
    float: right;
}
.imgs_container{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 3%;
}
.modmodrow{
    display: flex;
    justify-content: center;
}
.sponser{
    margin-bottom: 3%;
}
.column{
    padding: 10px; 
    max-width: 300px;   
}