body {
    margin: 0;
    padding: 0;
}
.container1{
    height:100%;
    width: 100%;
    position: relative;
    text-align: center;
}
.title{
    font-size: 5em;
    font-weight: bold;
}
.pic1{
    width:100%;
    position: relative;
    text-align: center;
}
.container {
    margin-top: 3%;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-left: 7%;
    padding-right: 3%;
}
.letterp{
    margin-top: 2%;
    margin-bottom: 2%;
}
.bottom-left {
    position: absolute;
    top: 25%;
    left: 13%;
}
.bg{
    height:300px;
    background-color: aqua;
}
.modh1{
    text-align:left;
}
.img1{  
    height: 200px;
    float: right;
}
.imgs_container{
    padding-top: 3%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 3%;
}
.modrow{
    display: flex;
    justify-content: center;
}
.modrow1{
    display: flex;
    justify-content: center;
}
.sponser{
    margin-bottom: 3%;
}
.column{
    padding: 10px; 
    max-width: 300px;   
}
/* 100% 1463px */
@media(max-width:1600px){  

}
/* 125% 1170px */
@media(max-width:1280px){ 
    .container{
        padding-left:2%;
    }
    .bottom-left {
        position: absolute;
        top: 25%;
        left: 9%;
    }
    .letterp{
        margin-top: 2%;
    }
    .imgs_container{
        padding-top: 3%;
    }
}
/* 200% 731px */
@media(max-width:740px){  
    .container{
        padding-left: 3%;
    }
    .modrow1{
        flex-direction: column;
        padding-left: 4%;
    }
    .modrow{
        flex-direction: column;
        padding-left: 20%;
    }
    .bottom-left{
        top:30%;
    }
    .title{
        font-size: 2em;
    }
    .letterp{
        margin-top: 2%;
    }
    .imgs_container{
        padding-left:16.5%;
        padding-top: 3%;
        margin-bottom: 3%;
    }
}
/* 300% 487px */
@media(max-width:560px){  
    .letter{
        padding-left: 0.01%;
    }
    .container{
        padding-left: 1.5%;
    }
    .title{
        font-size: 1.5em;
        font-weight: bold;
    }
    .lettert{
        margin-left: 10%;
    }
    .text{
        padding-left: 3%;
    }
}
