.header-image {
  position: relative;
  width: 100%;
  max-width: none;
  height: 500px;
  object-fit: cover;
  object-position: top;
}

.centered-text {
  position: absolute;
  width:100%;
  margin-top:-15%;
  text-align: center;
  color: #fff;
  font-size: 60px;
  font-weight: bold;
}

.testsmall {
  padding:0 10% 0 10%;
  font-size: 20px;
  font-weight: lighter;
}

.title-container {
  text-align: center;
  margin-top: 3%;
}

.depiction{
  height:130px;
}


.article1 {
  text-align: center;
  width: 100%;
  display:flex;
}
.frame {
  width:30%;
  margin: 2%;
  background-color: #ffffff;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
}
img {
  max-width: 250px;
  height: auto;
  border-radius: 5px;

}
h1 {
  margin-top: 50px;
  margin-left: 25px;
}
h2 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: bold;
}

p {
  margin-top: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

@media (max-width:1600px){
  .depiction{
    height:100px;
  }
}

@media(max-width: 1280px) {
  h1 {
    margin-top: 40px;
  }
  .depiction{
    height:100px;
  }
}


@media(max-width: 1024px) {
  .frame {
    margin: auto;
    margin-top:2%;
    margin-bottom:2%;
    width:60%;
  }
  .centered-text {
    margin-top: -30%;
  }
  .article1 {
    width: 100%;
    flex-direction: column;
  }
  .depiction{
    height:100px;
  }
}

@media(max-width: 768px) {
  .frame {
    width:70%;
  }
}

@media(max-width: 560px) {
  .frame {
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 70%;
  }
  .article1 {
    width: 100%;
    flex-direction: column;
  }
  .centered-text {
    margin-top: -70%;
  }
  h1 {
    margin-top: 40px;
    text-align: center;
  }
  .depiction{
    height:120px;
  }
}

@media(max-width:390px){  
  .frame {
    width: 90%;
  }
}
