.frame {
  width: 25%;
  margin: 2%;
  background-color: #ffffff;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 740px) {
  .frame {
    width: 80%; 
  }
  .article1 {
    display:unset; 
    width: 100%; 
  }
  
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
h1 {
  font-weight: bold;
  margin-top: 50px;
  margin-left: 25px;
}
h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

p {
  margin-top: 10px;
  font-size: 12px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.article1 {
  width: 120%;
  display:flex;
}

@media(max-width: 740px) {
  .article1 {
    flex-direction: column;
  }
}
