.container_fullscreen {
  height:500px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../img/index/index_poster_1900_2.png');
  background-repeat: round;
  background-size: cover;
}
.container {
  text-align: center;
  width: 100%;
  height: 100%;
}

.pic1 {
  width: 100%;
  height: 100%;
}
.pic2{
  background-image: url(../img/guideline/guideline_poster_1300.png);
  margin-top: 5%;
  margin-bottom: 5%;
  width:100%;
  height: 500px;
  background-repeat: round;
}
.middle_text {
  position: absolute;
  text-align: center;
  color: white;
}

.middle_text > h1{
  font-weight: bold;
}


.middle_text p {
  font-weight: bold;
  font-size: 1em;
}
.flow_pic {
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left:15%;
  padding-right:15%;
  text-align: left;
}
.flow_pic > p{
  margin-bottom: 2%;

}
.flow_pic h1{
  margin-bottom: 3%;
}
.flow_pic h3{
  margin-top: 5%;
  margin-bottom: 1%;
}
.flow_pic > img{
  width: 100%;
}
.flow_pic h3 img{
  position: relative;
  top:-4px;
  margin-right:2%;
  width:40px;
  height:40px;
}

.welcome_to_use {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  /* align-items: center; */
}
.welcome_to_use h3 {
    padding-top: 3%;
  font-size: 2.5em;
}
.welcome_to_use p {
  font-size: 1.2em;
}
.content {
  margin-top: 8%;
  width: 100%;
  position: absolute;
  text-align: center;
  color: white;
}
.que {
  margin-top: 2em;
  padding-left:5%;
  padding-right:5%;
  padding-bottom: 3%;
  text-align: left;
}
.que  .q{
  font-size:1.5em;
  padding:0.5em 1em 0.5em 1em;
  cursor: pointer;
}
.que  img{
  float: right;
  margin-top:2%;
  width: 35px;
  height:20px;
  cursor: pointer;
  transition: 0.3s;
}
.que  .a{
  font-size:1em;
  padding:0.5em 1.5em 0.5em 1.5em;
  overflow: hidden;
  transition: 0.3s;
}




.b2 {
  background-color: gray;
}
.common_quesion p {
  font-size: 1.2em;
}







/* 100% */
@media (max-width: 1600px) {
  .container_fullscreen{
    background-image: url('../img/index/index_poster_1600_2.png');
  }
  
}
/* 125% */
@media (max-width: 1280px) {
  .container_fullscreen{
    background-image: url('../img/index/index_poster_1280_2.png');
  }
  .pic2{
    width:100%;
    height: 450px;
  }
}
/* 200% */
@media (max-width: 768px) {
  .container_fullscreen{
    background-image: url('../img/index/index_poster_768_2.png');
  }
  .container_fullscreen {
    align-items: flex-end;
  }
    .content{
        margin-top: 10%;
    }
    .pic2{
        background-image: url(../img/guideline/guideline_poster_700.png);
        width:100%;
        height: 400px;
        padding-bottom: 3%;
    }
    .pic {
      width: 150px;
      height: 150px;
  }
  .middle_text {
    top:45%;
  }
  .que {
    padding-left: 3%;
    padding-right: 3%;
  }
  .que img {
    width: 30px;
    height: 15px;
  }

  
  .b2 {
    border-color: gray;
  }
  .flow_pic {
    padding-left: 10%;
    padding-right: 10%;
}
}
/* 300%  */
@media (max-width: 560px) {
  .container_fullscreen{
    background-image: url('../img/index/index_poster_560_2.png');
  }
  .b2 {
   
    border-color: gray;
  }
  .pic2{
    background-image: url(../img/guideline/guideline_poster_560.png);
    width:100%;
    height: 500px;
    padding-bottom: 3%;
  }
  .que {
    padding-left: 0%;
    padding-right: 0%;
  }
  .que .q {
    font-size: 1.2em;
  }
  .content  > h1{
    margin-top: 5%;
  }
  .flow_pic {
    padding-left: 5%;
    padding-right: 5%;
  }
  
}
@media (max-width: 390px) {
  
  .container_fullscreen{
    background-image: url('../img/index/index_poster_390_2.png');
  }
  .pic2{
    background-image: url(../img/guideline/guideline_poster_350.png);
  }
}
