.header-image {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.centered-text {
    position: absolute;
    width:100%;
    margin-top:-10%;
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
}

.testsmall {
    font-size: 20px;
    font-weight: lighter;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    max-width: 100%; 
    margin: 20px auto;
}

.image-container {
    flex: 1;
    margin: 1%;
    text-align: left;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.image-container img:hover {
    transform: scale(1.05);
}

.image-title {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

.article1 {
    max-width: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.title-container {
    text-align: center;
    margin-top: 3%;
}
.py-1{
    margin-top: 80px;
}


@media (max-width: 768px) {
    .article1 {
        display: inline-block;
        width:50%;
    }
    .centered-text {
        margin-top:-15%;
    }
    .image-container img {
        width: 80%;
        margin: auto;
    }
    

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        max-width: 100%; 
        margin: 20px auto;
    }

    .image-container {
        text-align: center;
        flex: 1;
    }
}

@media (max-width:560px){
    .article1 {
        display: flex;
        flex-direction: column; 
        width:70%;
    }
    .header-image {
        height: 400px;
    }
    .centered-text {
        margin-top:-25%;
    }
}
