.container-breadcrumb {
    width: 63vw;
    margin: auto;
}


.sidebars2{
    position: fixed;
    width: 12vw;
    height: 100%;
    margin-left:22%;
    background-color: #9D9D9D;
    box-shadow: 0px 0px 4px #6C6C6C;
    font-size: 28px;
}

.sidebars2 > a{
    display: block;
    width: 100%;
    text-decoration: none;
    padding:0.5em 0 0.5em 0;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    color: black;
}

.sidebars2 > a:hover{
    background-color: #7B7B7B;
    color: white;
}


@media (max-width:1600px){
    .sidebars2 > a{
        font-size: 0.85em;
    }
}

@media (max-width:1280px){
    .sidebars2 > a{
        font-size: 0.7em;
    }
}



