main{
    overflow-y: auto !important;
}

section{
    margin-left: 22vw;
    width:100%;
}




.data_table{
    display: flex;
    width:100%;
}

.data_table > .d_table{
    width:90%;
    border: 1px solid #D0D0D0	;
    font-size: 24px;
    margin:1%;
    border-radius: 10px;
    overflow-x: hidden;
    
}

.table_title{
    width:100%;
    font-size: 1.3em;
    font-weight: bold;
    padding:0.2em 0.1em 0.2em 1em;
    background-color:#D0D0D0	;
}

.d_table > table{
    width:100%;
    text-align: center;
}

.d_table  th{
    font-size: 1em;
    padding:0.7em;
}
.d_table  tr{
    transition: 0.3s;
    cursor: pointer;
}
.d_table  tr:nth-child(even){
    background-color: #F0F0F0;
    transition: 0.3s;
}
.d_table  tr:hover{
    background-color: #BEBEBE	;
}
.d_table  td{
    font-size: 1em;
    padding:0.7em;
}
.d_table > table  img{
    height:1.5em;
    width:1.5em;
    transition: 0.3s;
}
.d_table > table  select{
    padding:0.1em;
    width:90%;
    border-radius: 10px;
}
.d_table > table  img:hover{
    cursor: pointer;
    transform: scale(1.1);
}



@media (max-width:1600px){
    
    section{
        margin-left: 22vw;
        width:100%;
    }
    
    
    .data_table > .d_table{
        font-size: 20px;
        margin:1%;
    }
    
    
    .table_title{
        padding:0.2em 0.1em 0.2em 1em;
    }
    
}

@media (max-width:1280px){
    
    section{
        margin-left: 22vw;
        width:100%;
    }
    .data_table > .d_table{
        font-size: 16px;
        margin:1%;
    }
    

    .table_title{
        padding:0.2em 0.1em 0.2em 1em;
    }
    
}





